// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Img
{
	width:25%;
	float:left;
	margin-right:30px;	
}

.MsgTable
{
	margin-top:40px;
	border: 2px solid #33ADFF;
	//border-collapse: collapse;
}

.MsgTable th
{
	padding: 5px;
	text-align:center;
	background-color: #33ADFF;
}

.MsgTable td
{
	background-color: #ffffff;
}

.tableLongTxt
{
	text-align:left;
	padding: 0px 20px 0px 2px;
	float:left;
}

.tableShortTxt
{
	text-align:center;
}

.tableLinkBtn
{
	text-align:center;
	padding: 0px 10px 0px 10px;
}